body{
  margin:0;
  font-family:system-ui;
  background:#0b1220;
  color:#e5e7eb;
}

/* NAV */
nav{
  display:flex;
  gap:10px;
  padding:12px;
  background:#0f172a;
  position:sticky;
  top:0;
  border-bottom:1px solid #1f2937;
}

nav button{
  flex:1;
  padding:12px;
  border:none;
  border-radius:10px;
  background:#1e293b;
  color:#e5e7eb;
  cursor:pointer;
  transition:.2s;
}

nav button:hover{
  background:#334155;
}

/* LOGIN */
#loginBox{
  max-width:380px;
  margin:120px auto;
  background:#111827;
  padding:20px;
  border-radius:14px;
  box-shadow:0 10px 30px rgba(0,0,0,0.4);
}

/* INPUTS */
input{
  width:100%;
  padding:12px;
  margin-top:10px;
  border-radius:10px;
  border:1px solid #374151;
  background:#0b1220;
  color:white;
}

/* BUTTON */
button{
  margin-top:10px;
  padding:12px;
  width:100%;
  border:none;
  border-radius:10px;
  background:#2563eb;
  color:white;
  cursor:pointer;
}

/* SECTIONS */
.section{display:none}
.active{display:block}

/* CARD */
.card{
  background:#111827;
  padding:16px;
  border-radius:14px;
  margin:12px 0;
  border:1px solid #1f2937;
}

/* TABLE */
table{
  width:100%;
  border-collapse:collapse;
  background:#111827;
  border-radius:12px;
  overflow:hidden;
}

th{
  background:#0f172a;
  text-align:left;
  padding:12px;
  font-size:13px;
  color:#9ca3af;
}

td{
  padding:12px;
  border-bottom:1px solid #1f2937;
  font-size:14px;
}

/* HOVER ROW */
tr:hover td{
  background:#0f172a;
}